# 1. ficheiros compilados
myProg
*.exe
*.o

# 2. Ficheiros de output gerados pelo programa
output.csv
assign.csv

# 3. O "lixo" de compilação do CMake
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
build.ninja
cmake_install.cmake

# 4. Pastas de IDEs e Doxygen
.vscode/
.idea/
html/
latex/